/* --- Global --- */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 10pt;
    color: #E9E9E9;
    background-color: #23252a;
}

a {
    text-decoration: none;
    border: none;
    color: #85878f;
}

a:hover {
    color: #92d4a0;
}

strong, b {
    font-weight: 400 !important;
}

/* Text Highlighting */
::selection {
    background: #3eaca7;
    }
::-moz-selection {
    background: #3eaca7;
}

/* --- Shared --- */

/* Headers */
h1,h2,h3,h4 {
    font-weight: 300;
    margin: 5px 0 !important;
}

h2 {
    font-size: 1.2em;
}

h2, h3 {
    text-align: center;
}

p {
    margin: 10px 5px;
}

.hidden, .hide {
	display: none;
}

/* Button and Text input */
input {
    border: 1px solid #5b5e64;
    background-color: #373a42;
    padding: 10px 9px;
    color: #fff;
}

select + input {
    margin-top: 10px;
}

input[type=submit], input[type=button], button {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    background-color: #50aca7;
    padding: 10px 9px;
    border: none;
    color: #fff;
}

input[type=submit]:hover, input[type=button]:hover, button:hover {
    background-color: #317f8e;
}

input[type=submit]:focus, input[type=button]:focus, button:focus {
    background-color: #2f707c;
}

/* Fix for input placeholder font */
::-webkit-input-placeholder {font-family: 'Source Sans Pro', Helvetica, sans-serif;}
:-moz-placeholder           {font-family: 'Source Sans Pro', Helvetica, sans-serif;}
::-moz-placeholder          {font-family: 'Source Sans Pro', Helvetica, sans-serif;}
:-ms-input-placeholder      {font-family: 'Source Sans Pro', Helvetica, sans-serif;}

#last5 {
    padding: 25px;
}

select {
    padding: 5px;
    background-color: #373a42;
    border: none;
    color: #fff;
    font-family: 'Source Sans Pro' !important;
    outline: none;
}

.quickposttoolbar {
    margin: 10px;
}

input#post_preview {
    margin: 3px

}
.last_read a { border: none; width: 100%; height: 100%; display: block; }
.last_read a:hover { border: none; }
textarea {
    background-color: #373a42;
    border: 1px solid #5b5e64;
    color: #fff;
    font-family: 'Source Sans Pro';
    font-size: 1.1em;
    position: relative!important;
    bottom: 5px!important;
    padding: 2px 3px;
}

textarea,input {
    outline: none;
}

.mediainfo_hidden, #disclaimer_container {
	display: none;
}

/* Styles generated by the BBCode parser */
span.size1  {font-size: .75em;}
span.size2  {font-size: 1em;}
span.size3  {font-size: 1.25em;}
span.size4  {font-size: 1.5em;}
span.size5  {font-size: 1.75em;}
span.size6  {font-size: 2em;}
span.size7  {font-size: 2.25em;}
span.size8  {font-size: 2.5em;}
span.size9  {font-size: 2.75em;}
span.size10 {font-size: 3em;}

ul.thin {
    margin: 0 0 0 25px;
    padding: 0;
}

ul.thin li {
    margin: 0;
    padding: 0;
}

/* END SHARED */


/* Global Layout */
#wrapper {
    padding: 0;
}

#header {
    width: 900px;
    position: relative;
}

#content {
    width: 900px;
    overflow: hidden;
}

#footer {
    font-size: 0.9em;
    margin-top: 2px;
    margin-left: 140px;
    padding: 10px;
    text-align: center;
    display:inline-flex;
}

.right  {text-align: right;}

.min_padding {
    margin: 0;
    padding: 0;
}

p.min_padding {margin: 2px 0;}

.pad {padding: 1em;}

.vertical_space {margin-bottom: 2px !important;}

.box {
    padding: 10px;
    font-size: 0.9em;
    background-color: #2c2f36!important;
}

.pad h3,.pad h4,.padbox h3,.padbox h4 {
    margin-top: 0;
    padding-top: 0;
}

.sidebar {
    float: right;
    width: 252px;
    height: 100%;
}

.sidebar .head {
    height: 15px;
    width: 232px;
}

.sidebar .box {
    margin-bottom: 20px;
}

.sidebar .box .pad form {
    padding-bottom: 20px;
}

.body {
    background-color: #2c2f36;
}

.main_column {
    width: 646px;
    float: left;
}

.main_column .head {
    width: 626px;
    height: 15px;
}

.unread {
	background: url('https://awesome-hd.net/static/styles/proton/images/unread.gif') no-repeat center center;
}
.read {
	background: url('https://awesome-hd.net/static/styles/proton/images/read.gif') no-repeat center center;
	width: 35px;
}

.cats_movies {
	background: url('https://awesome-hd.net/static/styles/proton/images/movies2.png') no-repeat center center;
	width: 50px;
	height: 50px;
}
.cats_tvshows {
	background: url('https://awesome-hd.net/static/styles/proton/images/tv2.png') no-repeat center center;
	width: 50px;
	height: 50px;
}
.show_torrents {
	background: url('https://awesome-hd.net/static/styles/proton/images/what_show.gif') no-repeat center center;
}

.last_read {
	background: url("https://awesome-hd.net/static/styles/proton/images/go_last_read.png") no-repeat center center;
	width: 15px;
	height: 15px;
	padding-left: 5px;
}
.unread_sticky {
	width: 35px;
	background: url("https://awesome-hd.net/static/styles/proton/images/sticky_unread.gif") no-repeat center center;
}
.unread_locked_sticky {
	width: 35px;
	background: url("https://awesome-hd.net/static/styles/proton/images/locked_sticky_unread.gif") no-repeat center center;
}
.read_locked_sticky {
	width: 35px;
	background: url("https://awesome-hd.net/static/styles/proton/images/locked_sticky_read.gif") no-repeat center center;
}
.unread_locked {
	width: 35px;
	background: url("https://awesome-hd.net/static/styles/proton/images/locked_unread.gif") no-repeat center center;
}
.read_locked {
	width: 35px;
	background: url("https://awesome-hd.net/static/styles/proton/images/locked_read.gif") no-repeat center center;
}
.read_sticky {
	width: 35px;
	background: url("https://awesome-hd.net/static/styles/proton/images/sticky_read.gif") no-repeat center center;
}
.last_topic {
	padding-left: 5px;
        font-size:12px;
}
/* Header Elements */
#logo {
    width: 900px;
    height: 100px;
    background-image: url('http://i.imgur.com/0cc1ory.png');
    background-repeat: no-repeat;
    margin-left: 20px;
}

#logo a {
    border: none;
    width: 300px;
    height: 100px;
    display: block;
}

#stats_seeding a, #stats_buffer a, #stats_leeching a, #stats_ratio a, #stats_required a {
    color: #91d09f;
}

#userinfo {
	position:relative;
	color:#fff;
	width:100%;
	list-style:none
}

#userinfo_stats li {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    padding: 2px;
}

#userinfo_major li {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    margin: 0 .1em;
    padding: 2px;
    margin-top: 12px;
}

#userinfo_username {
   position:absolute;
	list-style:none;
	margin:4px 0 0 926px;
	left:-9999px;
	z-index: 999;
}

#userinfo_username li:first-child a {
   -moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:130px !important;
	height:50px !important;
	line-height:50px !important;
	vertical-align:middle;
	color:#fff;
	text-align:center;
	background-color: #91d09f;
	border-width:1px 0;
	padding:0 !important;
	display: block;
	position:relative;
	right:-10157px;
	margin:-4px 0 0 -210px !important
}

#userinfo_username li:first-child {
	display:block;
	width:80px !important;
	color:#000 !important;
	margin:0 0 0 -152px !important
}

#userinfo_username li:first-child a:hover {
	background:#91d09f;
	color:#000;
	border:1px solid rgba(0,0,0,0) !important
}
#userinfo_username:hover li:first-child a {
	border:1px solid rgba(0,0,0,0) !important
}
#userinfo_username li:first-child a:active {
	background:#f3f3f3
}
#userinfo_username:hover li:first-child a {
	left:158px;
	border:none
}
#userinfo_username:hover {
	left:0;
	font-weight:400
}

#userinfo_username li a {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:200px;
	height:36px;
	line-height:36px;
	vertical-align:middle;
	display:block;
  padding:0 12px;
	color:#fff;
	margin:0 0 0 -296px !important
}

#userinfo_username:hover{
    display:block !important
}
#userinfo_username li{
	display:block !important
}

#userinfo_username li:nth-child(3) a {
	margin-top:0 !important
}
#userinfo_username:hover li a {
	background:#91d09f;
	color:#fff;
	text-decoration:none
}
#userinfo_username li a:hover {
	color:#000;
  text-decoration:none
}
#userinfo_username li a:active {
	background:#dadada;
	text-decoration:none
}

#userinfo .brackets:before,#userinfo .brackets:after {
	content:none !important
}
#userinfo_username #nav_userclass {
	display:none
}
#userinfo_stats {
    color: #abd6ad;
    font-size: 1.1em;
    margin-top: -72px;
    float: right;
    display: inline-block;
    width: auto;
    z-index: 1001;
}
#userinfo_major {
    font-size: 1.1em;
    margin-top: -62px;
    float: right;
    display: inline-block;
    width: auto;
    z-index: 1001;
}
#userinfo_stats a:hover {
    text-decoration: underline;   
}

,.hide,#searchbutton {
    display: none;
}

#userinfo_stats .stat, .colhead_dark a, ul#twitter_update_list li a {
    color: #fff;
}

#userinfo_minor {
	position:absolute;
	list-style:none;
	margin:0 0 0 852px;
	left:-9999px;
	z-index:900
}
#userinfo_minor:before {
	content:'';
	text-align:center;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:48px !important;
	height:50px !important;
	line-height:50px !important;
	border:solid rgba(0,0,0,0.08);
	border-width:1px 1px 1px 0;
	vertical-align:middle;
	height:16px;
	display:block;
	position:relative;
	right:-9999px;
	background-color: #91d09f;
  background-image:url('https://hosting.ivanozerov.com/haze/images/caret.png');
	background-repeat:no-repeat,repeat
}
#userinfo_minor:hover:before {
	position:relative;
	right:0;
	background-color:#91d09f;
	color:#000;
	border:none !important;
	background-image:url('https://i.imgur.com/J7IzZkk.png');
	background-repeat:no-repeat;
	background-position:0 1px
}
#userinfo_minor:hover {
	left:0;
	font-weight:400
}
#userinfo_minor li {
	margin:0 0 0 -160px !important;
	display:block !important
}
#userinfo_minor li a {
	display:block;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	vertical-align:middle;
	width:178px;
	height:36px;
	line-height:36px;
	padding:0 12px !important;
	background:#91d09f;
	color:#fff;
	margin:-4px 0 0 30px !important
}
#userinfo_minor li:first-child a {
	margin-top:0 !important
}
#userinfo_minor li a:hover {
  color:#000;
	text-decoration:none
}
#userinfo_minor li a:active {
	background:#dadada;
	text-decoration:none
}
/* Navigation Menu */
#nav_index, #nav_staff, #nav_review{
    display:none !important;
}

#menu {
    margin-bottom: 2px;
    height: 50px;
}

/* Main Links */
#menu a {
    display: inline-block;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
    width: 93px;
    height: 50px !important;
    line-height: 50px !important;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    text-decoration: none;
    overflow: hidden !important;
    white-space:nowrap;
    margin-right: -3px;
}
#menu a:active {
	background:#f3f3f3 !important
}
#menu ul {
	margin:0;
	padding:0;
	list-style:none;
}
#menu ul li {
	float: left;
        margin:0;
	display:block;
}


/* Dropdown Links */
#menu #menu1 li ul li a {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
    width: 256px;
    height: 36px !important;
    line-height: 36px !important;
    vertical-align: middle;
    text-align: left;
    display:block;
    padding-left: 26px !important;
}

ul.potato-menu li.potato-menu-item {
    position: relative;
    list-style: none;
    list-style-position: outside;
    display: inline-block;
    margin: 0!important;
}

ul.potato-menu ul.potato-menu-group {
    position: absolute;
    display: none;
    z-index: 1000;
    text-align: left;
    margin: 0;
    padding: 0!important;
}

ul.potato-menu ul.potato-menu-group li {
    font-family: 'Source Sans Pro',Arial,Helvetica,sans-serif!important;
    margin: 0!important;
    padding: 0!important;
}

ul.potato-menu ul.potato-menu-group a {
    display: block!important;
    width: 140px;
    padding: 0 10px!important;
}

/* Menu Items */
#nav_index > a      {background-color: #0d5968;}
#nav_torrents > a         {background-color: #19636d;}
#nav_collages > a    {background-color: #256e72;}
#nav_requests > a  {background-color:  #317977;}
#nav_forums > a       {background-color: #3d847c;}
#nav_irc > a      {background-color: #498f81;}
#nav_top10 > a       {background-color: #559986;}
#nav_rules > a {background-color: #61a48b;}
#nav_wiki > a {background-color: #6daf90;}
#nav_staff > a {background-color: #79ba95;}
#nav_review > a {background-color: #85c59a;}
#usr > a {background-color: #91d09f;}

#nav_index a            {background-color: #0d5968!important;}
#nav_torrents a               {background-color: #20717c!important;}
#nav_collages a          {background-color: #1d818e!important;}
#nav_requests a        {background-color: #3eaca7!important;}
#nav_forums a             {background-color: #47bc97!important;}
#nav_irc a            {background-color: #74c796!important;}
#nav_top10 a             {background-color: #91d09f!important;}

#nav_index a:hover       {background-color: #0b4a57!important;}
#nav_torrents  a:hover          {background-color: #12545d!important;}
#nav_collages  a:hover     {background-color: #195e64!important;}
#nav_requests  a:hover   {background-color: #20686a!important;}
#nav_forums  a:hover        {background-color: #277271!important;}
#nav_irc  a:hover        {background-color: #2e7c78!important;}
#nav_top10  a:hover       {background-color: #36877e!important;}
#nav_rules a:hover {background-color: #3d9185!important;}
#nav_wiki  a:hover {background-color: #449b8c!important;}
#nav_staff a:hover {background-color: #4ba592!important;}
#nav_review a:hover  {background-color: #52af99!important;}

/* Fix For "Points Store" menu */
#nav_bonus a {padding-left: 31px !important;}
#nav_bonus > a:before {
    content: 'Points\a0 Store\a0 \a0 \a0 \a0 \a0 \a0 \a0 \a0 \a0 \a0 \a0 \a0 \a0 \a0 \a0 \a0 \a0 \a0 \a0 \a0 \a0 ';
    pointer-events: none;
}

/* Larger User Menu */
#nav_bonus ul a {width: 260px !important;}
#nav_user > a   {width: 132px !important;}
#nav_user .potato-menu-item a {width: 260px !important;}
#nav_user ul    {margin-left: -128px;}

/* Fix for Firefox menu rendering issues */
@-moz-document url-prefix() {
    #menu {
        width: 902px;
    }
    #nav_index > a {
        width: 90px !important;
    }
    #nav_torrent > a {
        width: 90px !important;
    }
}

/* Alerts and Notifications */
.alertbar {
    background: linear-gradient(#186c77, #20717c);
    text-align: center;
    color: #fff;
    font-size: 10pt;
    width: 900px;
/*    height: 18px;*/
    margin: 2px 0;
    padding: 9px 0;
    vertical-align: middle;
}

.alertbar a {
/*    display: inline-block;
    position: relative;*/
    top: -9px;
    left: 0px;
    height: 18px;
    padding: 9px 0;
    width: 900px;
    color: #FFF;
    text-decoration: underline;
}

#alerts a, ul#twitter_update_list li span a {
    color: #fff;
}

.alertbar a, .ui-state-hover, a.ui-state-hover, li.ui-state-hover, .torrent_table .group a {
    color: #FFF!important;
}

.alertbar a:hover, .tags a:hover {
    color: #fff;
    text-decoration: none;
}

.alertbar {
    color: transparent !important;
}

.alertbar a[href="news.php"]{
    background: linear-gradient(#045362, #0d5968);
}

.alertbar #del_announce {
    left: 432px;
    top: -45px;
}

/*.alertbar a+a {
    position: relative;
    left: 430px;
    top: -45px;
    color: transparent !important;
    background: url(images/close.png) no-repeat;
    background-position: 12px 12px;
    width: 36px;
    height: 36px;
    display: inline-block;
}*/

#alerts.countdown_wrapper .alertbar {
    color: #fff!important;
}

.alertbar[style="border:1px solid #360;background-color:#120;margin-bottom:3px;"] {
	color: #fff !important;
	border: none !important;
	margin-bottom: 2px !important;
	height: 36px !important;
}

.alertbar[style="border:1px solid #9A5050 !important;background-color:#4A0000 !important;margin-bottom:3px !important;color:#CCC !important;"],
.alertbar[style="border:1px solid #32506e !important;background-color:#00254A !important;margin-bottom:3px !important;color:#CCC !important;"] {
    height: inherit;
    width: initial;
    background: inherit;
}

.alertbar[style="border:1px solid #9A5050 !important;background-color:#4A0000 !important;margin-bottom:3px !important;color:#CCC !important;"] a,
.alertbar[style="border:1px solid #32506e !important;background-color:#00254A !important;margin-bottom:3px !important;color:#CCC !important;"] a {
    position: initial;
    height: initial;
    padding: none;
    width: initial;
}

.alertbar[style="border:1px solid #9A5050 !important;background-color:#4A0000 !important;margin-bottom:3px !important;color:#CCC !important;"] a+a,
.alertbar[style="border:1px solid #32506e !important;background-color:#00254A !important;margin-bottom:3px !important;color:#CCC !important;"] a+a {
    position: initial;
    color: #fff !important;
    background: initial;
}



/* Global Search Bar */
#searchbars {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box; 
    width: 900px;
    height: 50px;
    padding: 8px 0;
    background: url("https://i.imgur.com/4zIhAoG.png") no-repeat 13px 14px;
    background-color: #373a42;
    margin-bottom: 2px;
}

#searchbars input {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box; 
    width: 134px;
    height: 34px;
    margin: 0;
    padding: 12px 11px;
    border: 1px solid #5b5e64;
    padding: 7px 11px 7px 8px;
    color: #bdbec0;
    font-size: 10pt;
}

#last5t{
    overflow: hidden;
}

#last5 {
    width:14%;
    float:left;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
}

#searchbars input:hover {
    border: 1px solid #8e9198;
}

#searchbars input:focus {
    border: 1px solid #fff;
}

#searchbars ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

#searchbars ul li {
    display: inline;
    float: left;
    margin: 0 7px 0 0;
    position: relative;
    list-style: none;
}

#searchbars ul li:first-child {
    margin-left: 48px;
}

#searchbars ul li form {
    display: inline;
    margin: 0px;
}

.newmem {
    background-color: #222;
    text-align: center;
    font-size: .95em;
    margin: 0 auto;
    padding: 5px;
}

#cat-selector ul li {
    display: inline;
    width: 12em;
    height: 1em;
    float: left;
}

.main_column table{
    margin-top:20px;
}

/* Posting Toolbars and Surround */
div.contenth textarea {
    background-color: #373a42 !important;
    border: 1px solid #5b5e64 !important;
    color: #fff;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 1.1em;
    padding: 2px 3px;
}

div.bbcode-btntoolbar {
    background: none repeat scroll 0 0 #23252a!important;
    background-color: #23252a;
    border-left: 0 hidden!important;
    border-right: 0 hidden!important;
    width: 900px!important;
    padding-left: 40px;
}

div.bbcode-smileys {
    background: none repeat scroll 0 0 #23252a!important;
    border-left: 0 hidden!important;
    border-right: 0 hidden!important;
    margin-top: -10px;
    margin-bottom: 15px;
}

div.bbcode-btnsmileyshover {
    background: #2c2f36 none repeat scroll 0 0 !important;
}

.headh {
    border-left: 0 hidden!important;
    border-right: 0 hidden!important;
}

input.hidden {
    position: absolute;
    display: none;
}

div.linkbox {
    text-align: center;
    padding: 5px;
}

div[style="height:140px; max-height:140px;max-width:758px;"] {
    width: 900px !important;
    height: 166px !important;
    max-width: 900px !important;
    max-height: 166px !important;
}

#banner {
    width: 900px;
}

#torrents #content .thin h2 a img {
    width: 900px;
    margin-top: -5px;
}

#torrents .sidebar table.box {
    font-size: 1.0em !important;
    margin-top: 2px !important;
    margin-bottom: -14px !important;
    width: 252px !important;
    padding: 0px !important;
}

#torrents .main_column .box.pad {
    background-color: #23252a!important;
    padding-top: 10px !important;
}

input[value="Make Default"] {
    margin-left: -0.6em;
}

.ui-menu .ui-menu-item a {
    padding: 5px 9px !important;
    background: #085565!important;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {
    background: #085565!important;
    border: none !important;
}

#ui-active-menuitem {
    background: #0B4A57 !important;
    margin: 0 !important;
}

.ui-widget {
    font-family: 'Source Sans Pro', Helvetica, sans-serif !important;
}

.ui-widget-overlay {
    background: #23252a!important;
    opacity: .50!important;
}

.ui-widget-content {
    border: none !important;
    background: none!important;
    background-color: #055363!important;
    font-size: 0.9em!important;
    color: #fff !important;
    padding: 0px!important;
}

.ui-widget-header {
    background: none!important;
    border: none !important;
}

.ui-state-default {
    background: none!important;
    background-color: #17191c!important;
    border: none!important;
    width: 48px!important;
    height: 36px!important;
    margin: 1px !important;
}

.ui-state-default a {
    margin-left: 3px !important;
    margin-top: 4px !important;
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active, .ui-tabs-selected {
    background: #2c2f36!important;
    color: #fff;
    margin: 1px !important;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover {
    background: #222429!important;
    color: #fff;
}

.ui-tabs {
    width: 636px !important;
    font-size: 1.1em !important;
    background-color: #2c2f36!important;
}

.ui-tabs .ui-tabs-panel {
    background-color: #2c2f36!important;
}

.ui-tabs-nav {
    width: 48px !important;
    margin-top: -8px !important;
    margin-bottom: -10px !important;
    margin-left: -1px !important;
}

.ui-tabs-panel {
    width: 564px !important;
}

.ui-corner-all {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
}

.ui-corner-left {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.ui-autocomplete-loading {
    background-color: #2c2f36!important;
    background-image: none !important;
}

/* Lumens Exchange Menu */
#lumen_exchange_dialog {
    font-size: 1.0em !important;
    padding: 0 0 0 40px !important;
    background-color: #2c2f36 !important;
}
#lumen_exchange_dialog td[style="text-align: center; font-weight: bold;"]{
    padding-right: 40px;
    font-weight: 300 !important;
}
.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
    background-color: #2c2f36 !important;
}

/* Hide "Info" column in recommendations interface */
#recommend td[width="1%"] {
    color: transparent;
}

#recommend img[src="https://cdn.broadcasthe.net/common/symbols/info_icon.png"]{
    visibility: hidden;
}

.welcome {
    font-size: 1.0em;
    background-color: #282828;
    border: 1px solid #303030;
}

.contenth,.b1h,.b2h,.b2bh,.b3h,.b3bh,.b4h,.b4bh {
    background: none repeat scroll 0 0 transparent!important;
}

.b1h,.b2h,.b3h,.b4h,.b1bh,.b2bh,.b3bh,.b4bh,.b4bh {
    background: none repeat scroll 0 0 #fefefe;
    border-left: 0 solid #aaa!important;
    border-right: 0 solid #aaa!important;
    height: 2px;
    margin: 0 1px;
}

.contenth {
    border-left: 0 hidden!important;
    border-right: 0 hidden!important;
    color: #fff!important;
}

.head {
    font-size: 1.05em !important;
    background: linear-gradient(#52555c, #585b62);
    position: relative !important;
    margin-top: -10px;
    margin-bottom: 6px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
}

div[style="padding-top:8px;background-color:#322;color:#ecc;"] {
    padding-top: 8px!important;
    background-color: #c1696a!important;
    color: #ecc!important;
}

#reseed_box {
    padding-bottom: 0px;
}

#reseed_box .sign {
    text-align: left;
}

#reseed_box #swapreseed {
    color: #85878F;
    position: relative;
    left: 468px;
}

#reseed_box #swapreseed:hover {
    color: #92d4a0;
}

#reseed_box .head {
    margin-bottom: 2px !important;
}

.tags {
    font-style: italic;
    padding: 0 0 0 20px;
}

.tags a {
    color: #7e7e7e;
}

ul.nobullet {
    list-style-type: none;
    padding-bottom: 2px!important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 2px;
}

td.tdleft {
    text-align: left;
    padding: 5px;
}

td.tdcenter {
    text-align: center;
    padding: 5px;
}

td.tdright {
    text-align: right;
    padding: 5px;
}

.forum_group_header {
    background-color: #373a42 !important;
    color: #fff;
    font-weight: 300;
    margin-top: 2px;
}

.colhead {
    background: none!important;
    background-color: #565961!important;
    font-weight: 300;
    color: #fff;
}

td.colhead,.colhead td {
    padding-left: 5px;
    padding-right: 5px;
}

.colhead_dark {
    background: linear-gradient(#52555c, #585b62);
    color: #fff;
    vertical-align: middle;
}

tbody .colhead_dark {
    background: linear-gradient(#52555c, #585b62);
    color: #fff !important;
    vertical-align: middle;
}

ul.navigation {
    background-color: #565961!important;
    color: #fff;
    text-align: center;
    list-style: none;
    font-weight: 300 !important;
    padding: 10px!important;
}

ul.navigation li {
    display: inline;
    margin-right: 0px !important;
    padding: 0px !important;
    margin-right: -2px !important;
}

ul.navigation a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px !important;
}

ul.navigation a:hover {
    color: #fff !important;
    background-color: #2f7e8c!important;
}

ul.navigation a:focus {
    color: #fff !important;
    background-color: #2b6d79!important;
    outline: none;
}

ul.navigation a.selected {
    color: #fff!important;
    background-color: #085565!important;
}

.scroll .panel {
    background-color: #2c2f36 !important;
}

.scroll .panel tr {
    border: none;
}

/* Profile Formatting */

.box.tvshows .snatches+.pad {
	padding: 0;
}

.leftbar {
    width: 86px !important;
    padding: 0px 10px 10px 10px !important;
}

.leftbar img {
    width: 106px;
    margin-left: -10px;
}

.midbar {
    margin-left: 108px !important;
}

.midbar .box {
    padding: 10px !important;
}

.midbar .head {
    width: 772px;
}

.midbar .box.info > div {
    margin-bottom: 10px;
}

.midbar .box.usermenu {
    padding: 0px !important;
    margin-bottom: 2px !important;
}

.password_strength_bg {
    background-color: #2c2f36!important;
    width: 289px!important;
}

.password_strength_container {
    width: 289px!important;
    padding: 5px!important;
}

.password_strength {
    width: 289px !important;
}

td.label {
    font-weight: 300;
    text-align: right;
    width: 305px;
}

table.slice {
    margin-top: -1px;
}

.error_message {
    border: 1px solid #666;
    background-color: #AF2525;
    text-align: center;
    color: #FFF;
    padding: 3px 0;
}

.save_message {
    margin-top: 2px;
    background-color: #93d4a2;
    text-align: center;
    color: #fff;
    padding: 10px;
}

.elem_error {
    border: 3px solid #B00D0D;
}

ul.stats li {
    padding: 0 0 1px;
}

ul.stats tr {
    border: none;
}

ul.poll li {
    margin: 0;
    padding: 0 0 0 10px;
}

ul.poll li.graph {
    margin: 3px 10px;
    width: 150px;
    height: 10px;
    background-color: #91d09f;
    padding-left: 20px;
}

.show_torrents_link {
    border: none;
    width: 28px;
    height: 28px;
    display: block;
}

#series .box .body img {
    margin: -10px;
    margin-top: -6px !important;
    width: 646px;
    height: 100%;
}

#series .sidebar .box .nobullet {
    text-align: center;
}

#series .sidebar .box .stats {
    text-align: initial !important;
}

.rating {
    background: url('images/hover-rating.png') repeat-x top left !important;
    background-position: 0 -32px !important;
}

.rating-bg {
    background: url('images/hover-rating.png') repeat-x top left !important;
}

.torrent_table tr {
    vertical-align: top;
}

.torrent_table tbody > .pad, .torrent_table tbody .pad > td {
    padding: 0px;
}

.colhead .sign,.colhead_dark .sign {
    vertical-align: middle;
    text-align: right;
    font-size: 1.2em;
    font-weight: 300;
}

.torrent_table tr.group_torrent.first {
    border-top: 3px solid #565960;
}

.torrent_table tr.group_torrent a:hover span{
    color: #92d4a0 !important;
}

#series .main_column table.border {
    margin-top: 2px;
}

#series .main_column .box {
    margin-top: 2px;
}

.season {
    color: #ff2419;
}

.episode {
    color: #00aeef;
}

.torrent_table .colhead_dark {
    background-color: #55585f;
    height: 36px !important;
    vertical-align: middle !important;
}

.torrent_table .group {
    background-color: #2c2f36;
}

.torrent_table div.tags {
    font-weight: 400;
}

.torrent_table tr .center {
    vertical-align: middle;
    text-align: center;
}

.torrent_table tr.group_torrent td a span {
    float: left;
    white-space: pre;
}

.torrent_table tr.group_torrent td {
    padding: 8px;
}

.torrent_table tr.group_torrent .group.discog {
    padding: 8px 10px;
}

.torrent_table tr.group_torrent .group.discog .episode, .torrent_table tr.group_torrent .group.discog b {
    color: #37a9a4!important;
}

.torrent_table tr.group_torrent .group.discog .episode:hover {
    color: #fff!important;
}

.torrent_table tr.group_torrent .group.discog .season {
    color: #92d4a0 !important;
}

.torrent_table tr.group_torrent .group.discog .season:hover {
    color: #fff !important;
}

.torrent span {
    font-weight: 400;
    float: right;
}

.torrent span img {
    vertical-align: text-top;
}

.nobr {
    white-space: nowrap;
}

/* --- Page Specific Fixes --- */
#inbox .head {
    width: 880px;
}

form[action="inbox.php"] .box.pad.center {
    margin: 2px 0 0 0;
    width: 900px;
    padding: 0px;
    margin-top: 10px !important;
    background: none !important;
}

form[action="inbox.php"] .box.pad table {
    background: initial !important;
}

#kb .sidebar .box.pad {
    margin-top: 2px;
}

#tvnews .head {
    height: initial;
}

#tvnews .sidebar {
    margin-top: 27px;
}

#tvschedule td {
    border: none;
}

#collages td {
    padding: 3px;
}

#collages .sign, #torrents .sign {
    padding: 5px;
    position: relative;
    left: -5px;
}

/* Torrent Filter Reformat */
.filter_torrents {
    width: 900px;
}

.filter_torrents > .box {
    margin-top: 2px;
}

.filter_torrents > .box.pad.center {
    margin-top: -48px;
    margin-bottom: 10px;
}

.filter_torrents .box.pad .cat_list {
    position: relative;
    left: -12px;
    width: 900px;
}

.filter_torrents .box.pad .cat_list tbody tr td input[type="checkbox"][name="filter_cat[1]"] {
    position: relative;
    left: 376px;
}

.filter_torrents .box.pad .cat_list tbody tr td label[for="cat_1"] {
    position: relative;
    left: 376px;
}

.filter_torrents .box.pad .cat_list#taglist td {
    background-color: #373a42 !important;
}

.filter_torrents .box.pad .cat_list#taglist tr {
    border-bottom: none;
}

.filter_torrents .box.pad .cat_list td[width="12.5%"] {
    padding-left: 17px;
}

.filter_torrents .box.pad .cat_list td.label {
    padding-right: 17px;
}

.filter_torrents .box.pad .cat_list[width="100%"] td {
    background-color: #373a42 !important;
}

.filter_torrents .country_list {
    position: relative;
    left: -12px;
    width: 900px;
}

.filter_torrents .country_list td {
    padding-left: 12px;
    background-color: #373a42 !important;
}

.filter_torrents .country_list tr {
    border-bottom: none;
}

#bonus table[style="width:100%"] td, #bonus table[style="width:100%"] tr {
    padding: 10px !important;
    border-color: #23252a;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
}

table.forum_post {
    margin-top: 2px;
}

table.forum_post input[type="button"] {
    margin-right: 2px;
}

/* Fix for forum post header vertically aligned text and images */
table.forum_post span[style="float:left;"] img {
    vertical-align: middle;
}

table.forum_post td[colspan="2"] {
    vertical-align: middle;
}

table.forum_post span[style="float: right;"] {
}

table.forum_post span[style="float:left"] {
}

table.forum_unread {

}

td.avatar {
    width: 150px;
    padding: 0;
}

table.forum_post td.body {
    width: 646px;
}

tbody {
    max-width: 646px;
}

blockquote {
    border: 1px dashed #666;
    margin: 10px;
    padding: 10px;
}

pre,blockquote {
    background-color: #23252a!important;
}

.signature {
    border-top: 1px dotted #666;
    margin: 2em 0 0;
    padding: .5em 0 0;
}

div.user_details {
    padding: 5px;
}

tr.unreadpm {
    background-color: #651809!important;
}

.permission_head {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.permissions {
    width: 930px;
    margin-left: auto;
    margin-right: auto;
}

.permission_container {
    float: left;
    width: 300px;
    padding: 5px;
}

.permission_container input {
    vertical-align: top;
    margin: 0 3px 5px 0;
}

.submit_container {
    clear: both;
    text-align: right;
}

ul .invitetree {
    margin: 0 0 0 25px;
}

.invitetree li {
    list-style: none;
    margin: 10px 2px;
}

#left_poll {
    width: 2px;
    height: 9px;
    background: #3caba6!important;
    float: left;
    margin: 0;
    padding: 0;
}

#center_poll {
    height: 9px;
    background-color: #3caba6!important;
    float: left;
    margin: 0;
    padding: 0;
}

#right_poll {
    width: 2px;
    height: 9px;
    background: #3caba6!important;
    float: left;
    margin: 0;
    padding: 0;
}

.curtain {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1001;
}


.lightbox {
    display: none;
    position: fixed;
    text-align: center;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    z-index: 1002;
    overflow: auto;
    padding: 0;
}

.lightbox img {
    height: 100%;
}

pre {
    color: #FFF;
    border: 1px dashed #55585f;
    margin: 10px;
    padding: 10px;
}

#donation {
    position: absolute;
    display: inline;
    width: 0px;
    top: 7px;
    right: 38px;
    padding: .6em 0;
    text-align: center;
    font-size: 1.0em;
    color: #fff;
    z-index: 1001;
}

#donation:before {
    content: url('images/donation/heart.png');
}

#DonBk, #DonBr {
    display: none;
}

#DonInfo a {
    display: block;
    height: 32px;
    width: 36px;
    color: #fff !important;
    line-height: 90px;
    margin-top: -153px;
}

#blog .thin > br, #news .thin > br {
    display: none;
}

#blog .box, #news .box {
    margin-bottom: 2px;
}

#blog .head, #news .head {
    width: 900px;
}

#forums .box {
    width: 900px;
    margin-top: 2px;
}

#forums .head {
    width: 900px;
}

#forums #content > br {
    display: none;
}

#forums #content .thin > p {
    margin-top: -12px;
}

#forums .box.pad {
    padding: 0px !important;
    background-color: #23252a !important;
}

#forums #content .thin > table, #snatchlist table {
    border-collapse: initial!important;
}

#forums #content .thin > table.forum_post {
    border-collapse: collapse!important;
}
#actorshowcase .thin {
    text-align: center;
}
#actorshowcase .thin > table {
    display: inline-block;
    width: 25%;
    height: 387px;
}
#actorshowcase .thin > table > tbody {
    height: 387px;
}

#quickpost {
    color: #eee!important;
    font-size: 1.1em!important;
}

#quickpostform {
    background-color: transparent;
}

#quickreplybuttons input[value="Editor"] {
    margin-right: 2px;
}

div.contenth #quickpost {
    right: -2px;
}

#user .bbcode-btntoolbar {
    background-color: #2c2f36!important;
}

#user .bbcode-smileys {
    background-color: #2c2f36!important;  
}

#friends table[width="100%"] td {
    text-align: center;
}

.tickets_search {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
}

.tickets_categories {
    float: left;
    text-align: left;
    padding: .5em;
}

.tickets_status {
    float: right;
    text-align: left;
    padding: .5em;
}

.small_label {
    width: 0;
    text-align: right;
    font-weight: 300;
}

.filter_tickets {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.rank {
    text-align: center;
    font: small-caps 2.4em Georgia, "Times New Roman", Times, serif;
    width: 86px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.rank img {
    clear: both;
}

.rankimghide {
    display: none;
    margin: 0;
    padding: 0;
}

.center h3 {
    padding-top: 4px;
    font-size: 1.0em;
}

.review_row {
    margin-top: 2px;
}

.review_row.box {
    margin-top: 2px;
}

.inline_rank {
    position: relative;
    top: 80px;
    left: 14px;
    font: small-caps 1.4em Georgia, "Times New Roman", Times, serif;
}

.inline_rank img {
    width: 2%;
}

.review_title {
    font: small-caps 2.1em Georgia, "Times New Roman", Times, serif;
    margin-left: 17px;
}

.review_body {
    float: right;
    width: 765px;
    overflow: auto;
    margin: 6px 0 0;
    padding: 1px;
}

.review_details {
    font-style: italic;
    float: right;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.review_search {
    width: 900px;
    text-align: center;
    margin: auto;
}

.review_search input {
    width: 400px;
    text-align: center;
}

.left_tabs {
    float: left;
    width: 100px;
}

a.tab {
    display: block;
    background-color: rgba(69,69,69,0.35);
    text-align: center;
    color: #FFF;
    font-weight: 300;
    text-transform: lowercase;
    padding: 4px;
}

#content .home .main_column {
    float: right;
}

#content .home .main_column .of_the_month {
    margin-left: -2px;
}

#content .home .main_column .of_the_month .head {
    width: 302px;
}

#content .home .main_column .of_the_month .box {
    width: 302px;
    margin-left: 2px;
    padding-bottom: 0px!important;
}

#content .home .main_column .of_the_month .box img {
    width: 322px;
    height: 474px;
    margin-left: -10px;
    margin-top: -10px;
}

#content .home .main_column .of_the_month .box li {
    padding-bottom: 10px;
}

.home table,.home td {
    border: 0;
}

.home .sidebar {
    float: left;
}

#\31 07 {
    margin-bottom: -42px!important;
    overflow:  !important;
    background-color: #23252a !important;
}

#\31 07 tr {
    background-color: #23252a !important;
    border-color: #23252a !important;
}

#\31 07 > .pad {
    background-color: #23252a !important;
}

#\31 07 a {
    color: transparent !important;
}

#\31 07 img {
    width: 322px !important;
    margin-left: -27px;
    margin-top: -25px;
    margin-right: 19px;
}

#series .sidebar .box div > img {
    width: 252px;
    margin-left: -10px;
    margin-top: -14px;
    margin-bottom: -20px;
}

#torrents .sidebar .box div > img {
    width: 252px;
    margin-left: -15px;
    margin-top: -8px;
    margin-bottom: -20px;
}

#torrents .sidebar .box > p a img {
    width: 252px;
    margin-left: -15px;
    margin-top: -8px;
    margin-bottom: -20px;    
}

#torrents .torrent_table .sign {
    text-align: center;
}

#torrent_table {
    font-size: 9pt;
}

.sidebar .box .nobullet img {
    width: initial;
    margin: initial;
}

#content .home .box {
    margin-bottom: 2px;
}

#content .home .sidebar #last_uploads img {
    width: 252px;
    margin-left: -10px;
    margin-top: -7px;
    margin-bottom: 4px;
}

#content .home .sidebar #last_uploads li b {
    display: none;
}

#content .home #last_uploads {
    margin-top: -3px;
}

#content .home th {
    text-align: left;
    padding: 5px;
}

#content .home tr.colhead {
    border: 0;
    border-bottom: 1px solid #000;
}

#content .home th:first-child {
    border-right: 1px solid #000;
}

#content .home th:last-child {
    border-left: 1px solid #000;
}

#content .home .of_the_month ul {
    font-size: 1.2em;
}

#content .home .month_rating {
    font-family: 'Source Sans Pro';
    font-size: 4.0em;
    font-weight: 100!important;
    color: #92d4a1;
    position: relative;
    top: -6px;
}

#content .home .of_the_month b {
    font-size: 1.3em;
}

a.tab:hover {
    text-decoration: none;
    background-color: rgba(69,69,69,0.55);
}

a.tab#selected {
    background-color: rgba(145,168,175,0.3);
}

div.thin2 {
    float: left;
    width: 900px;
    margin: auto;
}

div#twitter {
    width: 22.5em;
    margin-bottom: 2em;
    padding-bottom: 1px;
}

div#twitter h2 {
    font-size: 1.1em;
    color: #fff;
    margin: 0;
    padding: .4em 1em;
}

p#preloader {
    margin: 0;
    padding: 1em 1em 1em 3em;
}

ul#twitter_update_list {
    list-style-type: none;
    margin: 0;
    padding: 0 1em .5em;
}

ul#twitter_update_list li {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: .8em 0 1em;
}

ul#twitter_update_list li span {
    display: block;
}

ul#twitter_update_list li.lastTweet {
    border-bottom: none;
}

.profileLink a {
    display: block;
    color: #fff;
    border-top: 1px solid #ccc;
    padding: .3em 1em;
}

div#gift {
    width: 1px;
    height: 1px;
    position: relative;
    top: 130px;
    left: 895px;
    z-index: 999;
}

.button {
    background: url(images/buttons.gif) no-repeat scroll center -34px transparent;
    border: 0 solid #131313;
    color: #EEE;
    height: 30px;
    letter-spacing: 1px;
    line-height: 16px;
    overflow: visible;
    text-transform: uppercase;
    padding: 5px 12px;
}

#store #content {
    position: relative;
    margin-top: 2px;
}

#store #content > div {
    position: initial !important;
}

/* Icon and image replacements */
img[src="https://cdn.broadcasthe.net/common/caticons/episode-hd.png"] {
    background: url(images/torrents/episode-hd.png) no-repeat scroll 0 0 transparent;
    height: 50px!important;
    padding-right: 48px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/caticons/series-hd.png"] {
    background: url(images/torrents/season-hd.png) no-repeat scroll 0 0 transparent;
    height: 50px!important;
    padding-right: 48px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/caticons/episode-sd.png"] {
    background: url(images/torrents/episode-sd.png) no-repeat scroll 0 0 transparent;
    height: 50px!important;
    padding-right: 48px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/caticons/series-sd.png"] {
    background: url(images/torrents/season-sd.png) no-repeat scroll 0 0 transparent;
    height: 50px!important;
    padding-right: 48px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/browsetags/download.png"] {
    background: url(images/torrents/download.png) no-repeat scroll 0 0 transparent;
    height: 16px!important;
    padding-right: 16px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/browsetags/report.png"] {
    background: url(images/torrents/report.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 16px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/browsetags/fast.png"] {
    background: url(images/torrents/fast.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 48px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/browsetags/foreign.png"] {
    background: url(images/torrents/foreign.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 48px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/browsetags/new.png"] {
    background: url(images/torrents/new.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 48px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/browsetags/20x.png"] {
    background: url(images/torrents/20x.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 48px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/browsetags/auto.png"] {
    background: url(images/torrents/auto.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 48px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/icons/UpVote.png"] {
    background: url(images/series/UpVote.png) no-repeat scroll 0 0 transparent;
    height: 15px !important;
    padding-right: 11px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/icons/DownVote.png"] {
    background: url(images/series/DownVote.png) no-repeat scroll 0 0 transparent;
    height: 15px !important;
    padding-right: 11px!important;
    width: 0!important;
}

#torrents img[title="Snatches"] {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(images/series/snatched.png) no-repeat scroll 0 0 transparent;
    height: 15px !important;
    padding-right: 15px!important;
    width: 15px!important;
    font-size: 0 !important;
}

#torrents img[title="Seeders"] {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(images/series/seeders.png) no-repeat scroll 0 0 transparent;
    height: 15px !important;
    padding-right: 11px!important;
    width: 11px!important;
    font-size: 0 !important;
}

#torrents img[title="Leechers"] {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(images/series/leechers.png) no-repeat scroll 0 0 transparent;
    height: 15px !important;
    padding-right: 11px!important;
    width: 11px!important;
    font-size: 0 !important;
}

img[title="Snatches"] {
    background: url(images/series/snatched.png) no-repeat scroll 0 0 transparent;
    height: 15px;
    padding-right: 15px;
    width: 0px;
}

img[title="Seeders"] {
    background: url(images/series/seeders.png) no-repeat scroll 0 0 transparent;
    height: 15px;
    padding-right: 11px;
    width: 0px;
}

img[title="Leechers"] {
    background: url(images/series/leechers.png) no-repeat scroll 0 0 transparent;
    height: 15px;
    padding-right: 11px;
    width: 0px;
}

img[src="https://cdn.broadcasthe.net/common/icons/on.png"] {
    background: url(images/profile/on.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 16px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/icons/off.png"] {
    background: url(images/profile/off.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 16px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/icons/picture.png"] {
    background: url(images/profile/picture.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 16px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/icons/pm.gif"] {
    background: url(images/profile/pm.png) no-repeat scroll 0 0 transparent;
    height: 15px !important;
    padding-right: 22px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/icons/user_go.png"] {
    background: url(images/profile/user_go.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 16px!important;
    width: 0!important;
}

img[title="Unread"] {
    background: url(images/forum/unread.png) no-repeat scroll 0 0 transparent;
    height: 35px !important;
    padding-right: 47px!important;
    width: 0!important;
}

img[title="Read"] {
    background: url(images/forum/read.png) no-repeat scroll 0 0 transparent;
    height: 35px !important;
    padding-right: 47px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/icons/page_copy.png"] {
    background: url(images/forum/page_copy.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 16px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net//common/icons/sticky.png"] {
    background: url(images/forum/sticky.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 16px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net//common/icons/locked.png"] {
    background: url(images/forum/locked.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 16px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/icons/comment_edit.png"] {
    background: url(images/forum/comment_edit.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 16px!important;
    width: 0!important;
}

img[title="Go to last read post"] {
    background: url(images/forum/go_last_read.png) no-repeat scroll 0 0 transparent;
    height: 11px !important;
    padding-right: 15px!important;
    width: 0!important;
}

img[src="http://tablesorter.com/addons/pager/icons/first.png"] {
    background: url(images/bonus/first.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 16px!important;
    width: 0!important;
}

img[src="http://tablesorter.com/addons/pager/icons/prev.png"] {
    background: url(images/bonus/prev.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 16px!important;
    width: 0!important;
}

img[src="http://tablesorter.com/addons/pager/icons/next.png"] {
    background: url(images/bonus/next.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 16px!important;
    width: 0!important;
}

img[src="http://tablesorter.com/addons/pager/icons/last.png"] {
    background: url(images/bonus/last.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 16px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/symbols/info_icon.png"] {
    background: url(images/info_icon.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 16px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/symbols/rss.png"] {
    background: url(images/profile/rss.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 16px!important;
    width: 0!important;
}

img#banner[src="https://cdn.broadcasthe.net//common/banner/nobanner.png"]{
    background: url(images/nobanner.png) no-repeat scroll 0 0 transparent;
    background-size: 900px 166px;
    height: 166px !important;
    padding-right: 900px!important;
    width: 0!important;
}

img[src="https://cdn.broadcasthe.net/common/icons/btn.png"] {
    background: url(images/store/btn.png) no-repeat scroll 0 0 transparent;
    height: 16px !important;
    padding-right: 16px!important;
    width: 0!important;
}

div[style="background-image:url(https://cdn.broadcasthe.net/common/lumen/lumen_store_bg.png);height:598px"] {
    background-image: url(images/store/lumen_store_bg.png) !important;
}

#store #content {
    width: 969px;
}

.jquery-msgbox-confirm {
    background: url(images/store/confirm.png) no-repeat 20px 20px !important;
}

#store #content div[height="79px"] {
    background-image: url(images/store/tooltip.png) !important;
}

div.star-rating.star, div.star-rating a {
    background: url(images/star.png) no-repeat 0 0px !important;
}
.small-star, .small-star a:hover, .small-star a:active, .small-star a:focus, .small-star .current-rating {
    background-image: url(images/star_small.png) !important;
}

.box #summary {
    position: relative;
    left: -10px;
}

.requests td,.requests tr,.requests table,.info td,.info tr,.info table {
    border: 0 none;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

#requests .box.pad {
    padding: 0px !important;
}

.info td {
    border-bottom: 0 solid gray!important;
    height: 50px;
    vertical-align: middle;
    width: 20px;
}

html,#cat-selector ul {
    width: 100%;
}

img,#logo a:hover,.noborder,.cat_list tr td,.torrent_table td.group {
    border: none;
}

#wrapper,.thin {
    width: 900px;
    margin: 0 auto;
}

.right,.number {
    text-align: right;
}

.pad {
    padding: 1em;
}

.home .extrapad {
    padding: 0;
}

tr {
    background-color: #2c2f36!important;
    border-bottom: 2px solid #2c2f36;
}

tr.rowa {
    background: url('images/box-bg.png') repeat !important;
}

tr.rowb {
    background-color: #none !important;
}

.filter_torrents .submit,.filter_tickets .submit {
    text-align: right;
    padding-top: 5px;
}

.torrent_table tr.group_torrent,tr.torrent {
    background-color: #23252a !important;
}

.torrent_table tr.group_torrent .year,.group_torrent span {
    float: right;
}

form tr {
    background-color: #2c2f36;
}

/* Fix playbutton position */
#playbutton {
    position: relative !important;
    top: -138px !important;
    left: 0px !important;
    margin-bottom: -110px !important;
}

/* Tooltip Reskin */
#tiptip_content {
    font-size: 1.0em !important;
    color: #fff !important;
    text-shadow: none !important;
    padding: 4px 8px;
    border: 2px solid #5b5e64 !important;
    background-color: #373a42 !important;
    background-image: none !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}
#tiptip_arrow,#tiptip_arrow_inner {
    border: none !important;
}