/********************************************************
------------------------ Beluga -------------------------
Design: apopagasm
CSS: Exanurous
Version: 1.1;
Bug Reports: forums.php?action=viewthread&threadid=16899;
Style derived from Gazelle Postmod and BTN SMPTE
*********************************************************/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://gitlab.com/SummerRainbowz/Beluga-AHD/raw/master/layoutbeta.css);
@import url(https://gitlab.com/SummerRainbowz/Beluga-AHD/raw/master/original.css);
